* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.rs text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.sh text eol=lf
*.sql text eol=lf
