[package]
name = "gmv-stream"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#base = { git = "https://github.com/epimore/pigs.git",features = ["net"] }
base = { path = "../../pigs/base", features = ["net"] }
shared = { path = "../shared" }
parking_lot = "0.12"
#tokio-util = "0.7"
futures-util = "0.3"
#hyper = { version = "0.14.26", features = ["full"] }
#hyper = { version = "1.1", features = ["full"] }
#http-body-util = "0.1"
#reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
#form_urlencoded = "1.2.1"
tokio-stream = { version = "0.1.15", features = ["sync"] }
#rtp = "0.11"
#webrtc-util = "0.9"
#mpeg2ts = "0.3"
#m3u8-rs = "6.0"
#hls_m3u8 = "0.5"
#byteorder = "1"
#amf = "1.0"
#h264-reader = "=0.7"
#memchr = "2.7"
#rayon = "1.10"
crossbeam-channel = "0.5"
#mp4 = "0.14"
axum = "0.8"
futures-core="0.3"
rtp-types = "0.1"
#rtcp-types = "0.1"
rsmpeg = { version = "0.14.2+ffmpeg.6.1", default-features = false, features = ["link_system_ffmpeg"] }
#feign = "0.1"
#anyhow = { workspace = true }
#thiserror = { workspace = true }
pretend = "0.4"
pretend-reqwest = "0.4"