log:
  level: info
  prefix: stream
  store_path: ./logs

server:
  name: s1 #服务标识身份,流媒体集群唯一标识
  rtp_port: 18568 #监听rtp媒体流端口;
  rtcp_port: 18569 #监听rtcp媒体流端口;  暂未实现
  http_port: 18570 #流媒体API端口
  hook_uri: http://127.0.0.1:18567/session/hook #信令服务的地址
stream: #开启信令订阅监听时，可自定义修改；
  expires: 6 #i32 单位秒；默认无人观看后，6秒关闭流；0为立即关闭；负为永不关闭

