name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4
    - name: Build FFmpeg 6.1
      run: |
        git clone https://github.com/FFmpeg/FFmpeg -b release/6.1
        cd FFmpeg
        ./configure --enable-shared --prefix=/usr
        make -j$(nproc)
        sudo make install
    - name: Build Rust
      env:
        PKG_CONFIG_PATH: /usr/lib/pkgconfig
      run: cargo build --release

    - name: Run tests
      run: cargo test --verbose
