name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install FFmpeg dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          pkg-config \
          ffmpeg \
          libavcodec-dev \
          libavformat-dev \
          libavutil-dev \
          libswscale-dev \
          libavfilter-dev \
          libavdevice-dev

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose
