name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y nasm pkg-config

    - name: Build and install FFmpeg 6.1
      run: |
        git clone --depth=1 https://github.com/FFmpeg/FFmpeg -b release/6.1
        cd FFmpeg
        ./configure --enable-shared --prefix=/usr/local
        make -j$(nproc)
        sudo make install
        sudo ldconfig

    - name: Build Rust
      env:
        PKG_CONFIG_PATH: /usr/local/lib/pkgconfig
      run: cargo build --release

    - name: Run tests
      run: cargo test --verbose
